<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/ae2dec5e-d9e0-4a57-9015-0e31af420522/resourcegroups/ResourceG_1/providers/Microsoft.ContainerRegistry/registries/WebApplicationLogin20241023180935</ContainerResourceId>
    <ContainerResourceName>WebApplicationLogin20241023180935</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapplicationlogin20241023180935.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>bootstrap-container-pre-artifact-upload</ContainerName>
    <EnvironmentName>managedEnvironment-ResourceG1-a403</EnvironmentName>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ae2dec5e-d9e0-4a57-9015-0e31af420522/resourceGroups/ResourceG_1/providers/Microsoft.App/containerapps/hugowebapp</ResourceId>
    <ResourceGroup>ResourceG_1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>